.App {
  text-align: center;
  min-height: 100vh;
}
.movie-card{
  width: 18rem;
  height: fit-content;
  margin: 20px;
}
.movie-poster{
  width: 18rem;
  height: 23rem;
}
.movie-genre{
  display: flex;
  margin: 10px;
}
.movie-genre-list{
  font-weight: 600;
  margin: 5px;
  padding: 8px;
  border-radius: 25px;
  border: 2px solid rgb(50, 44, 44);
}
.movie-summary{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  margin: 10px;
  font-size: 17px;
}

.movie-card-name{
  display: flex;
  justify-content: space-between;
  margin: 8px ;
  font-size: 18px;
  align-items: center;
  font-weight: 800;
}
.Movie-specs{
  display: flex;
  margin: 10px;
  gap: 20px;
}
.movie-director{
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
  display: flex;
  margin: 10px;
  padding: 5px;
  align-items: center;
}
.movie-crew-name{
  color: rgb(27, 139, 230);
  margin: 0;
}
.movie-media-container{
  display: flex;
}
.movie-detail-poster{
  width: 20rem;
  height: 28rem;
}
.Detail-container{
  padding-left: 150px;
}

.actor-details-card{
  width: 11rem;
  height: fit-content;
}
.card-actor-name{
  font-weight: 600;
}
.skill-list{
  margin: 0;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  font-weight: 600;
}
.skill-listitem{
  margin: 5px;
  padding-left: 10px;
  text-align: left;
}
.actor-card-list{
  display: flex;
  gap: 20px;
}
.carousel{
  width: 800px;
  height: 28rem;
  background-color: white;
}
.movie-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.review-container{
  text-align: left;
  margin-top: 20px;
}
.review-head{
  font-size: 20px;
  font-weight: 700;
}
.reviews-text{
  border: 2px solid white;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  color: skyblue;
  font-weight: 600;
}